<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Tusugmedina</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    
  </head>

  
  
  <body class="hold-transition skin-green sidebar-mini">

  <div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">T|A</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Tusug </b>Almacén</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          
          <% if user_signed_in? %>
          
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
              <span class="hidden-xs"><%= current_user.nombre %></span>
              <br />
              <span class="hidden-xs"><%= current_user.email %></span>
          </li>

          <!-- Control Sidebar Toggle Button -->
          <li>
          <%= link_to "", destroy_user_session_path, :class => "fa fa-sign-out", method: :delete %>
          <% end %>
          </li>

        </ul>
      </div>

    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">TABLERO CONTROL</li>

        <li><a href="/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
        
        <li class="header">CATÁLOGOS</li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-folder-o"></i>
            <span>Catálogos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="units"><i class="fa fa-circle-o"></i>Unidades</a></li>
            <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
            <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
            <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
          </ul>
        </li>
        

        <li class="header">REPORTES</li>

        <li class="treeview">
          <a href="dashboard">
            <i class="fa fa-book"></i>
            <span>Reportes</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i>Reporte 1</a></li>
            <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Repoerte 2</a></li>
            <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Repoerte 3</a></li>
            <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i>Reporte 4</a></li>
          </ul>
        </li>


      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Version 2.0</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <%= notice if notice %>
      <%= yield %>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2014-2016 Tusug Medina</strong> Sistema Inventarios.
  </footer>


  </div> <!-- Wrapper -->
  </body>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
